<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout2}">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 작성</title>

	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/style/style_Product.css">
	</th:block>

	<th:block layout:fragment="script">
		<script src="/script/script_Product.js"></script>
	</th:block>

</head>
<body>
    <div id="wrapAddReview" layout:fragment="content">

    	<!-- 작업 영역 시작 -->
   		<form th:action="@{addReview}" name="reviewFrm" id="reviewFrm" class="form-inline" method="post">
   			<div id="reviewContents">
	    		<div id="reviewServiceInfo">
	    			<table>
	    				<tr>
	    					<td id="reviewTitle" colspan="2">서비스 품질 리뷰</td>
	    				</tr>
	    				<tr>
	    					<td class="c1">서비스명</td>
							<th:block th:each="list : ${selectPurchaseReview}">
							<td class="c2">[[${list.productName}]]</td>
							</th:block>
	    				</tr>
	    			</table>
	    		</div>

	    		<!-- 리뷰 입력 시작 -->
	    		<div id="reviewServiceInput">
		    		<table>
						<tr>
							<td class="c1">별점</td>
							<td class="c2">
								<select name="reviewScore" id="reviewScore">
									<option value="">- 점수 선택 -</option>
									<option>0.0</option>
									<option>1.0</option>
									<option>1.5</option>
									<option>2.0</option>
									<option>2.5</option>
									<option>3.0</option>
									<option>3.5</option>
									<option>4.0</option>
									<option>4.5</option>
									<option>5.0</option>
								</select>
								<br>
							</td>
						</tr>
						<tr>
							<td class="c1">상세리뷰</td>
							<td class="c2">
								<textarea name="reviewDescTxt" id="reviewDescTxt" class="form-control" rows="3" placeholder="리뷰 내용을 입력해주세요"></textarea>
							</td>
						</tr>
					</table>
	    		</div>
				<!-- 리뷰 입력 끝 -->

			<div id="reviewMenuBtn">
				<button type="submit" id="reviewSbmBtn" class="btn btn-primary">등록하기</button>
				<button type="reset" id="reviewResetBtn" class="btn btn-primary">다시쓰기</button>
				<button type="button" id="reviewCancelBtn" class="btn btn-primary">취소하기</button>
			</div>

	    	</div>
		</form>
		<!-- 작업 영역 끝 -->

    </div>
</body>
</html>