<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block layout:fragment="script">
        <script src="/source/jquery-3.6.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </th:block>

    <script type="text/javascript">
        $(document).ready(function() {
            window.close();
        });
    </script>

</head>
<body>

</body>
</html>