<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 수정</title>

	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/style/style_Product.css">
	</th:block>

</head>
<body>
    <div id="wrap" layout:fragment="content">

    	<hr class="sepLine">

		<th:block th:each="list : ${selectDetailProduct}">
   		<form th:action="@{modifyProduct}" name="productModFrm" id="productModFrm" class="form-inline" enctype="multipart/form-data" method="post">
    	<main id="productMain" class="dFlex">
    		
    		<!-- 서비스 이미지 영역 시작 -->
    		<div id="productImgArea">
    			<div id="productMainImg" class="thumbnailImg">
    				<input type="file" name="modFileName1" id="modFileName1" class="fileUploadInput">
					<label for="modFileName1">메인 이미지 수정</label>
					
    			</div>
    			<div id="productSubImg" class="dFlex">
    				<div id="thumbnailImg1" class="thumbnailImg">
						<input type="file" name="modFileName2" id="modFileName2" class="fileUploadInput">
						<label for="modFileName2">이미지 수정</label>
					</div>
					<div id="thumbnailImg2" class="thumbnailImg">
						<input type="file" name="modFileName3" id="modFileName3" class="fileUploadInput">
						<label for="modFileName3">이미지 수정</label>
					</div>
    				<div id="thumbnailImg3" class="thumbnailImg">
						<input type="file" name="modFileName4" id="modFileName4" class="fileUploadInput">
						<label for="modFileName4">이미지 수정</label>
    				</div>
    				<div id="thumbnailImg4" class="thumbnailImg">
						<input type="file" name="modFileName5" id="modFileName5" class="fileUploadInput">
						<label for="modFileName5">이미지 수정</label>
    				</div>
    			</div>
    				
    		</div>
    		<!-- 서비스 이미지 영역 끝 -->
    		
    		<!-- 서비스 세부 메뉴 영역 시작 -->
    		<div id="productDetail">
    			<div id="productTopInfo">
    				<div id="productMenu">
    					<ul>
    						<li id="liCategory" class="productMenuLi">
								<select name="modCategory" id="modCategory" class="interest form-control">
									<option value=""> - 분류 - </option>
									<option th:value="'주문제작'" th:selected="${list.category} == '주문제작'">주문제작</option>
									<option th:value="'문서작성'" th:selected="${list.category} == '문서작성'">문서작성</option>
									<option th:value="'번역·통역'" th:selected="${list.category} == '번역·통역'">번역·통역</option>
									<option th:value="'사진·영상'" th:selected="${list.category} == '사진·영상'">사진·영상</option>
									<option th:value="'상담'" th:selected="${list.category} == '상담'">상담</option>
									<option th:value="'기타'" th:selected="${list.category} == '기타'">기타</option>
								</select>
    						</li>
    						<li id="liProductName" class="productMenuLi">
    							<input type="text" id="modProductName" name="modProductName" placeholder="상품명 입력" class="form-control input-sm" th:value="${list.productName}">
   							</li>
    						<li class="productMenuLi">
    							<p>
    								<div id="productOptionTitle">상품 가격</div>
    								<div id="productOption">
    									<div id="productPrice" class="productOptionDetail"><input type="text" name="modProductPrice" placeholder="상품 가격 입력" class="form-control input-sm" th:value="${list.productPrice}"> 원</div>
    								</div>
   								</p>
    						</li>
    					</ul>
    				</div>
    				<hr>
    				<div id="sellerInfo">
    					<div id="sellerInfoTitle">판매자 정보</div>
    					<div id="sellerPic"><img src="/memberFileUpload/defaultProfile.png" class="memberImg" alt="memberImg" onerror="this.src='/images/defaultProfile.png'"></div>
    					<div id="sellerName">판매자 이름</div>
    					<div id="sellerContact">판매자 연락처</div>
    				</div>
    				<hr>
    				<div id="productReviewTopTitle">서비스 평가</div>
    				<div id="productReviewTop" class="dFlex">
    					<div class="reviewItem">
							<div class="reviewUserInfo">
								<span class="reviewUserName">구매자</span>
								<span class="reviewRate">★★★★★</span>
								<span class="reviewDate">2022.01.01</span>
							</div>
							<div class="reviewUserText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet. </div>
						</div>
    					<div class="reviewItem">
							<div class="reviewUserInfo">
								<span class="reviewUserName">구매자</span>
								<span class="reviewRate">★★★★★</span>
								<span class="reviewDate">2022.01.01</span>
							</div>
							<div class="reviewUserText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet. </div>
						</div>
    					<div class="reviewItem">
							<div class="reviewUserInfo">
								<span class="reviewUserName">구매자</span>
								<span class="reviewRate">★★★★★</span>
								<span class="reviewDate">2022.01.01</span>
							</div>
							<div class="reviewUserText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet. </div>
						</div>
    				</div>
   				</div>
   			</div>
			<!-- 서비스 세부 메뉴 영역 끝 -->

    	</main>

		<!-- 서비스 설명 영역 시작 -->
		<div id="productDesc">
			<p>
				<textarea name="modProductDescTxt" id="modProductDescTxt" class="form-control" rows="10" placeholder="서비스 설명 입력" th:text="${list.productDesc}" th:value="${list.productDesc}"></textarea>
			</p>
		</div>
   		<!-- 서비스 설명 영역 끝 -->

		<a href="/modifyProduct">
			<button type="submit" id="productModFinBtn" class="btn btn-block">수정 완료</button>
		</a>
		</form>
		</th:block>

    	<hr class="sepLine">

    </div>
</body>
</html>